@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Protest+Strike&display=swap");

/* Basic styles */

.title {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

#userInput {
  background-color: black;
  font-family: "Lalezar", system-ui;
  /* font-weight: 400; */
  font-size: 50px;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fcdc00;
  padding: 20px;
}

#inputContainer {
  width: 100%;
  max-width: 600px;
  background-color: #fcdc00;
  padding: 40px;
  border-radius: 10px;
  border-color: black;
  border-style: inset;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#resultContainer {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000000;
  border-radius: 5px;
}

#resultContainer p {
  margin: 10px 0;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button styling */
.delete-entry {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0 8px;
  cursor: pointer;
  margin-left: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  /* border-radius: 5px; */
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

button.delete-btn {
  background-color: #f44336;
}

button.delete-btn:hover {
  background-color: #e53935;
}
